{% extends "kingadmin/index.html" %}
{# {% extends "" %} 也是和TEMPLATES中的路径进行拼接 #}

{% block right-content-container %}
    <h3>Site administration</h3>
    <br>
    {% for app_name,table_dict in enabled_admin.items %}
        <table class="table table-striped">
            <thead style="background-color: #79AEC8">
            <tr>
                <th><a style="color: white" href="{{ app_name }}/">{{ app_name.upper }}</a></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for model_name in table_dict %}
                <tr>
                    <td><a href="{% url "model_obj_list" app_name model_name %}">{{ model_name }}</a></td>
                    <td><a href="{% url "table_obj_add" app_name model_name %}">Add</a></td>
                    <td><a href="">Change</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endfor %}

{% endblock %}