{# onsubmit事件：在提交之前触发 #}
<form action="" method="post" onsubmit="SelectAllBeforeSubmit()" novalidate>
    {% csrf_token %}
    {# 循环 form 对象中的字段对象； field是字段【对象】 #}
    {% for field in form %}
        {% load kingadmin_tags %}
        <div class="">
            <label class="col-sm-2 control-label" for="">{{ field.label }}</label>
            {# field.name 表示该字段对象的名字 #}
            <div class="col-md-10">
                {% if field.name in admin_class.filter_horizontal %}
                    <div class="col-md-5 form-group">
                        <h5>可选</h5>
                        <div class="input-group">
                            <span class="input-group-addon">过滤</span>
                            <input type="search" class="form-control" oninput="FuzzySearch(this)">
                        </div>
                        <select id="id_{{ field.name }}_from" class="form-control" name="" multiple>
                            {% get_all_m2m_data admin_class form field.name as all_data %}
                            {% for obj in all_data %}
                                {# 给<option>标签添加双击事件 #}
                                <option value="{{ obj.pk }}"
                                        ondblclick="MoveSelectedOption(this,'id_{{ field.name }}_to')">{{ obj }}</option>
                            {% endfor %}
                        </select>
                        <p><a onclick="MoveElements('id_{{ field.name }}_from','id_{{ field.name }}_to')">ChooseAll</a>
                        </p>
                    </div>

                    <div class="col-md-5 form-group">
                        <h5>已选</h5>
                        <select id="id_{{ field.name }}_to" class="form-control right-select" name="{{ field.name }}"
                                multiple>
                            {% get_selected_m2m_data form field.name as selected_data %}
                            {% for obj in selected_data %}
                                <option value="{{ obj.pk }}"
                                        ondblclick="MoveSelectedOption(this,'id_{{ field.name }}_from')">{{ obj }}</option>
                            {% endfor %}
                        </select>
                        <p><a onclick="MoveElements('id_{{ field.name }}_to','id_{{ field.name }}_from')">RemoveAll</a>
                        </p>
                    </div>
                    <span style="color: red">{{ field.errors.0 }}</span>
                {% else %}
                    <div class="col-md-10 form-group">
                        {{ field }}
                        <span style="color: red">{{ field.errors.0 }}</span>
                    </div>
                {% endif %}
            </div>

        </div>
    {% endfor %}

    {% if edit_object_id %}
        <a href="{% url 'obj_delete' app_name model_name edit_object_id %}" class="btn btn-danger col-lg-offset-1">删除</a>
    {% endif %}

    <button type="submit" class="btn btn-success {% if edit_object_id %}col-md-offset-8{% else %}col-md-offset-9{% endif %}">提交</button>

</form>

<script>

    function MoveSelectedOption(self, target_id) {
        {#新<option>标签中双击事件中的 target_id，即该<option>的父级标签<select>的id值 #}
        var new_target_id = $(self).parent().attr("id");
        {# 生成的新<option>标签 #}
        var new_option = "<option value='" + $(self).val() + "'ondblclick=MoveSelectedOption(this,'" + new_target_id + "')>" + $(self).text() + "</option>";
        $("#" + target_id).append(new_option);
        $(self).remove();
    }

    {# 提交之前，1. horizontal_fields 右边框 全选 2.去掉 "disabled" 标签 #}
    function SelectAllBeforeSubmit() {
        $("select[class='form-control right-select'] option").prop("selected", true);

        $(":disabled").removeAttr("disabled");  // 提交之前去掉"disabled"标签（选对 readonly_fields）
    }

    {# 移动所有 #}

    function MoveElements(from_id, to_id) {
        $("#" + from_id).children().each(function () {
            MoveSelectedOption(this, to_id);
        })
    }

    {# 过滤 #}
    function FuzzySearch(ele) {
        var search_text = $(ele).val();
        console.log(search_text);
        $(ele).parent().next().children().each(function () {
            if ($(this).text().toUpperCase().search(search_text.toUpperCase()) != -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        })
    }
</script>
